<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AsePritePath" value="c:\Program Files (x86)\Aseprite\Aseprite.exe" />
    <add key="AseFileConfigurationFileName" value="AseFileConfiguration-Demo.json"/>
  </appSettings>
</configuration>